<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-call</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <link rel="stylesheet" href="style.css">
    
    <script>
        const ROOM_ID="<%= roomId %>";
    </script>
</head>
<body>
    <div class="main">
        <div class="main_video">
            <div id="video-grid">
        
            </div>
        </div>

        <div class="main_chat">
            <div class="main_chat_header">
                Baatein Karo
            </div>

            <div class="main_chat_body">
                <ul class="message">

                </ul>

            </div>

            <div class="main_chat_input">
                <input type="text" placeholder="Type message here">
            </div>
        </div>
    </div>
    

    <script src="script.js"></script>
    
</body>
</html>